body{
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 0vh 1vh 1vh black;
}
section{
    text-align: left;
    width: 60vh;
    margin: auto;
}
.main{
    width: 90vmin;
    margin: auto;
    background-color: white;
    border: white;
    border-style: solid;
    border-radius: 1dvh;
    text-align: center;
    box-shadow: 0vh 1vh 1vh black;
}
.lang{
    text-align: right;
}
.skepna-img{
    height: 50vh;
}
.art-img{
    height: 30vh;
}


