body{
    width: 85vmin;
    margin: auto;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: white;
    border: white;
    border-width: 2vh;
    border-style: solid;
    border-radius: 1dvb;
    box-shadow: 0vh 1vh 1vh black;
    
}
.banner-img{
    width: 70vmin;
    border-radius: 1dvb;
}
.webtoon-link{
    font-size: larger;

}
.posts{
    background-color: lightgray;
    border-radius: 1dvb;
}
.post-img{
    width: 5vmin;
}
.skepna-img{
    height: 35vh;
}