body{
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("img/fönster.webp");
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    font-size: 5vh;
}
section{
    text-align: left;
    width: 80vmin;
    margin: auto;
}
.main{
    width: 90vmin;
    margin: auto;
    background-color: white;
    border: white;
    border-style: solid;
    border-radius: 1dvh;
    text-align: center;
    box-shadow: 0vh 1vh 1vh black;
}
.lang{
    text-align: right;
}
.skepna-img{
    height: 50vh;
}
.art-img{
    height: 30vh;
}
.sve{
    display: none;
}
